# OS
.DS_Store

# Editor
.vscode/
.idea/

# Node (TypeScript)
node_modules/
playwright-report/
test-results/
blob-report/
.playwright/

# .NET
bin/
obj/
TestResults/

# Java
target/

# Python
venv/
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Test artifacts
screenshots/
report.html
test.txt
